server
    {
        listen 80;
        #listen [::]:80 default_server ipv6only=on;
        server_name loclahost;
        index index.html index.htm index.php;
        root  {{ WEBSITE_DIR }}/default;

        #error_page   404   /404.html;

        # Deny access to PHP files in specific directory
        #location ~ /(wp-content|uploads|wp-includes|images)/.*\.php$ { deny all; }

        include enable-php.conf;

        location ~ .*\.(gif|jpg|jpeg|png|bmp|swf)$
        {
            expires      30d;
        }

        location ~ .*\.(js|css)?$
        {
            expires      12h;
        }

        location ~ /.well-known {
            allow all;
        }

        location ~ /\.
        {
            deny all;
        }

        access_log  {{ NGINX_LOG_DIR }}/default_access.log main;
    }
