client
dev tun
proto udp
remote {{ ansible_default_ipv4.network }} {{ server_port }}
resolv-retry infinite
nobind
persist-key
persist-tun
ca ca.crt
cert {{ client_user_name }}.crt
key {{ client_user_name }}.key
tls-auth ta.key
remote-cert-tls server
comp-lzo
cipher AES-256-CBC
verb 3
mute-replay-warnings
