LogFile=/var/log/zabbix/zabbix_agentd.log
LogFileSize=500
DebugLevel=3
Server={{ ZABBIX_SERVER_IP }}
ServerActive={{ ZABBIX_SERVER_IP }}
{% if ZABBIX_SERVER_TYPE == 'server' %}
Hostname={{ hostname }}
HostnameItem=system.hostname
HostMetadataItem=system.uname
{% endif %}
Include=/usr/local/zabbix/etc/zabbix_agentd.conf.d/*.conf
